certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
gevent==1.4.0
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.17.4
opencv-python==4.2.0.32
pyhocon==0.3.51
pyparsing==2.4.5
requests==2.22.0
urllib3==1.25.7
virtualenv==16.7.7
Werkzeug==0.16.0
